<div *ngIf="car" class="page-credit">

  <div class="page-credit__container-header">
    <div class="page-credit__header">Расчёт кредита</div>
    <div class="page-credit__header page-credit__header_colored_gray">{{car.brand}} {{car.model}}</div>
  </div>

  <div class="page-credit__car-tech-spec">
    <app-car-tech-spec [car]="car"></app-car-tech-spec>
  </div>

  <div class="page-credit__contacts">
    <app-contacts></app-contacts>
  </div>

  <div class="page-credit__credit-menu">
    <app-credit-menu [car]="car"></app-credit-menu>
  </div>

  <div class="page-credit__help">
    <app-help></app-help>
  </div>
</div>
<app-confirmation class="page-credit__confirmation"></app-confirmation>
