$linkColor: #b1b1b1;

.contacts {
  display: flex;
  flex-direction: row;
  width: 855px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;

  &__icon_location {
    width: 20px;
    height: 20px;
    -webkit-mask: url("icons/location.svg") no-repeat;
    mask: url("icons/location.svg") no-repeat;
    background-color: $linkColor;
  }

  &__adress {
    color: $linkColor;
    margin-left: 5px;
  }

  &__icon_phone {
    width: 20px;
    height: 20px;
    -webkit-mask: url("icons/phone.svg") no-repeat;
    mask: url("icons/phone.svg") no-repeat;
    background-color: $linkColor;
    margin-left: 20px;
  }

  &__phone-number {
    text-decoration: none;
    color: $linkColor;
    margin-left: 10px;
  }
}
