<div class="car-tech-spec">
  <div class="car-tech-spec__container-image">
    <img class="car-tech-spec__image" src="./../assets/{{car.url}}">
  </div>

  <div class="car-tech-spec__info">
    <div class="car-tech-spec__title-head">{{car.brand}} {{car.model}}</div>

    <div class="car-tech-spec__spec">
      <div>
        <div class="car-tech-spec__title-info">{{car.fuelType}}, {{car.horsePower}} л.с</div>
        <div class="car-tech-spec__tech">{{car.engineVolume}} л</div>
      </div>
      <div>
        <div class="car-tech-spec__title-info">{{car.drivingVeels}}</div>
        <div class="car-tech-spec__tech">{{car.drivingScheme}}</div>
      </div>
      <div>
        <div class="car-tech-spec__title-info">{{car.gears}} ступеней</div>
        <div class="car-tech-spec__tech">{{car.transmission}}</div>
      </div>
    </div>
  </div>

  <div class="car-tech-spec__cost">

    <div class="car-tech-spec__container-cost">

      <div class="car-tech-spec__discount">
        <p>Скидка 200 000 ₽</p>
      </div>

      <div class="car-tech-spec__help car-tech-spec__help_position_discount">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#b1b1b1" width="18px" height="18px">
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z" />
        </svg>
      </div>

    </div>

    <div class="car-tech-spec__container-price">

      <div>
        <div class="car-tech-spec__title-price">Стоимость автомобиля</div>
        <div class="car-tech-spec__price">{{carMinPrice}} ₽</div>
      </div>

      <div class="car-tech-spec__help car-tech-spec__help_position_price">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#b1b1b1" width="18px" height="18px">
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z" />
        </svg>
      </div>

    </div>
  </div>
</div>
