<div class="car-tech-spec">
  <div class="car-tech-spec__container-image">
    <div class="car-tech-spec__image"></div>
  </div>

  <div class="car-tech-spec__info">
    <div class="car-tech-spec__title-head">{{sended[0].brand}} {{sended[0].model}}</div>

    <div class="car-tech-spec__spec">
      <div>
        <div class="car-tech-spec__title-info">{{sended[0].fuelType}}, {{sended[0].horsePower}} л.с</div>
        <div class="car-tech-spec__tech">{{sended[0].engineVolume}} л</div>
      </div>
      <div>
        <div class="car-tech-spec__title-info">{{sended[0].drivingVeels}}</div>
        <div class="car-tech-spec__tech">{{sended[0].drivingScheme}}</div>
      </div>
      <div>
        <div class="car-tech-spec__title-info">{{sended[0].gears}} ступеней</div>
        <div class="car-tech-spec__tech">{{sended[0].transmission}}</div>
      </div>
    </div>
  </div>

  <div class="car-tech-spec__cost">

    <div class="car-tech-spec__container-cost">

      <div class="car-tech-spec__discount">
        <p>Скидка 200 000 ₽</p>
      </div>

      <div class="car-tech-spec__help car-tech-spec__help_position_discount"></div>

    </div>

    <div class="car-tech-spec__container-price">

      <div>
        <div class="car-tech-spec__title-price">Стоимость автомобиля</div>
        <div class="car-tech-spec__price">2 199 000 ₽</div>
      </div>

      <div class="car-tech-spec__help car-tech-spec__help_position_price"></div>

    </div>
  </div>
</div>
