$linkColor: #b1b1b1;

.car-tech-spec {
  width: 861px;
  height: 155px;
  display: flex;
  flex-direction: row;
  background-color: white;

  border-radius: 10px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);

  &__container-image {
    width: 200px;
    height: 155px;
    display: flex;
    align-items: center;
  }

  &__image {
    width: 110%;
    object-fit: cover;
    height: 70%;
    transform: rotateY(180deg);
  }

  &__info {
    margin-left: 38px;
  }

  &__title-head {
    margin: 30px 0 25px 0;
  }

  &__spec {
    display: flex;
    width: 285px;
    justify-content: space-between;
  }

  &__title-info {
    font-size: 11px;
    color: #b4b4b4;
  }

  &__tech {
    font-size: 30px;
    color: #707070;
  }

  &__cost {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
  }
  &__container-cost {
    display: flex;
    align-items: center;
    margin: 30px 0 0 0;
  }

  &__discount {
    height: 25px;

    padding: 0 15px;
    border-radius: 12px;
    background-color: #ff5000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__help {
    width: 18px;
    height: 18px;

    &_position {
      &_discount {
        margin-left: 15px;
      }
      &_price {
        margin-left: 25px;
        margin-top: 13px;
      }
    }
  }

  &__container-price {
    display: flex;
    align-items: center;
    margin-top: 19px;
  }

  &__title-price {
    color: $linkColor;
    font-size: 11px;
  }

  &__price {
    font-size: 30px;
  }
}
