<div class="car-tech-spec">
  <div class="car-tech-spec__container-image">
    <img class="car-tech-spec__image" src={{car.url}}>
  </div>

  <div class="car-tech-spec__info">
    <div class="car-tech-spec__title-head">{{car.brand}} {{car.model}}</div>

    <div class="car-tech-spec__spec">
      <div>
        <div class="car-tech-spec__title-info">{{car.fuelType}}, {{car.horsePower}} л.с</div>
        <div class="car-tech-spec__tech">{{car.engineVolume}} л</div>
      </div>
      <div>
        <div class="car-tech-spec__title-info">{{car.drivingVeels}}</div>
        <div class="car-tech-spec__tech">{{car.drivingScheme}}</div>
      </div>
      <div>
        <div class="car-tech-spec__title-info">{{car.gears}} ступеней</div>
        <div class="car-tech-spec__tech">{{car.transmission}}</div>
      </div>
    </div>
  </div>

  <div class="car-tech-spec__cost">

    <div class="car-tech-spec__container-cost">

      <div class="car-tech-spec__discount">
        <p>Скидка 200 000 ₽</p>
      </div>

      <div class="car-tech-spec__help car-tech-spec__help_position_discount"></div>

    </div>

    <div class="car-tech-spec__container-price">

      <div>
        <div class="car-tech-spec__title-price">Стоимость автомобиля</div>
        <div class="car-tech-spec__price">{{carMinPrice}} ₽</div>
      </div>

      <div class="car-tech-spec__help car-tech-spec__help_position_price"></div>

    </div>
  </div>
</div>
