.car-flash-view {
  background-color: #fff;
  width: 299px;
  height: 289px;
  border-radius: 8px;
  margin-right: 18px;

  &__photo {
    width: 283px;
    height: 130px;
    margin: 13px auto 0;
    display: block;
  }

  &__amount {
    margin-top: 20px;
    margin-left: 25px;
    color: #838383;
    font-size: 11px;
  }

  &__name {
    margin-top: 15px;
    margin-left: 25px;
    font-weight: bold;
    font-size: 20px;
  }

  &__min-price {
    margin-top: 15px;
    margin-left: 25px;
    font-size: 24px;
  }
}
