.confirmation {
  width: 1000px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__image {
    width: 500px;
    height: 500px;
    background-image: url("../../assets/img/icons/rocket.jpg");
    background-size: 500px;
    background-repeat: no-repeat;
  }

  &__header {
    margin-top: 50px;
    font-size: x-large;
    font-weight: 600;
    letter-spacing: 2px;
  }

  &__text {
    margin-top: 10px;
    font-size: medium;
    font-weight: 400;
    letter-spacing: 1px;
    color: grey;
  }

  &__link {
    margin-top: 70px;
    height: 55px;
    width: 300px;
    // padding: 0 15px;
    border-radius: 12px;
    background-color: #ff5000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
