<div class="confirmation">
  <div class="confirmation__background"></div>
  <div class="confirmation__message">
    <div class="confirmation__container">
      <div class="confirmation__exit" (click)="closeConfirmation()">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
          <path
            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
        </svg>
      </div>
      <img src="./../assets/img/icons/rocket.jpg" class="confirmation__image">
      <div class="confirmation__header">Ваша заявка отправлена!</div>
      <div class="confirmation__text">Спасибо за обращение! Мы свяжимся с вами в ближайшее время</div>
      <a routerLink="" class="confirmation__link">
        <span routerLink="main">Вернуться в каталог</span>
      </a>
    </div>
  </div>
</div>
