<div class="confirmation">
  <div class="confirmation__background"></div>
  <div class="confirmation__message">
    <div class="confirmation__container">
      <div class="confirmation__exit" (click)="closeConfirmation()"></div>
      <div class="confirmation__image"></div>
      <div class="confirmation__header">Ваша заявка отправлена!</div>
      <div class="confirmation__text">Спасибо за обращение! Мы свяжимся с вами в ближайшее время</div>
      <a routerLink="" class="confirmation__link">
        <span routerLink="/main">Вернуться в каталог</span>
      </a>
    </div>
  </div>
</div>
