<div class="credit-menu">

  <div class="credit-menu__h">настройка кредита</div>
  <div class="credit-menu__sliders">
    <div class="credit-menu__container">
      <div class="credit-menu__h credit-menu__h_size_c">Первоначальный взнос</div>
      <div class="credit-menu__user-choise">
        <span class="credit-menu__text">160 000</span>
        <span class="credit-menu__text credit-menu__text_colored_grey credit-menu__text_shrinked"> ₽</span>
        <span class="credit-menu__text credit-menu__text_colored_grey">10%</span>
      </div>
    </div>

    <div class="credit-menu__container">
      <div class="credit-menu__h credit-menu__h_size_c">Готов платить в месяц</div>
      <div class="credit-menu__user-choise">
        <span class="credit-menu__text">до 10 000</span>
        <span class="credit-menu__text credit-menu__text_colored_grey credit-menu__text_shrinked"> ₽</span>
      </div>

    </div>
    <div class="credit-menu__container">
      <div class="credit-menu__h credit-menu__h_size_c">Срок кредита</div>
      <div class="credit-menu__user-choise">
        <span class="credit-menu__text">60</span>
        <span class="credit-menu__text credit-menu__text_colored_grey credit-menu__text_shrinked"> месяцев</span>
        <span class="credit-menu__text credit-menu__text_colored_grey">5 лет</span>
      </div>
    </div>
  </div>

  <div class="credit-menu__calculation">

    <div class="credit-menu__container credit-menu__container_unbordered">
      <div class="credit-menu__h credit-menu__h_size_c">Сумма выплат</div>
      <div class="credit-menu__text-total">от 141 579 ₽</div>
    </div>

    <div class="credit-menu__container credit-menu__container_unbordered">
      <div class="credit-menu__h credit-menu__h_size_c">Процентная ставка</div>
      <div class="credit-menu__text-total">от 11,8%</div>
    </div>

    <div class="credit-menu__container credit-menu__container_unbordered">
      <div class="credit-menu__h credit-menu__h_size_c">Платежи в месяц</div>
      <div class="credit-menu__text-total credit-menu__text-total_bold"> от 8 890 ₽/мес</div>
    </div>

    <div class="credit-menu__send">
      <span>Отправить заявку</span>
    </div>
  </div>



</div>
